* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #111;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    background-color: #171717;
    border-bottom: 1px solid rgb(115, 7, 7);
    position: sticky;
    top:0;
    z-index: 10;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo::first-letter {
    color: #730707;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
}
.menu a:hover{
    color: #4237e4;
    font-size: 100px;
}